aiohttp>=3.7.4
asyncio
dnspython
ffmpeg-python
gitpython
pillow>=9.5.0
py-tgcalls>=0.9.7
pyrogram>=2.0.106
python-dotenv
pyyaml
requests
tgcrypto
uvloop; platform_system != "Windows"
yt-dlp
youtube-search-python>=1.6.6
